PORT=4000
CORS_ORIGIN=http://localhost:3000

DATABASE_URL="postgresql://scheduler:scheduler@localhost:5432/email_scheduler"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

WORKER_CONCURRENCY=5
MIN_DELAY_BETWEEN_EMAILS_MS=2000
MAX_EMAILS_PER_HOUR_GLOBAL=500

GOOGLE_CLIENT_ID="add your client id"
GOOGLE_CLIENT_SECRET="add your client secret"
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback

JWT_SECRET=change-me-to-something-random
